<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- 目录默认返回 index.html，URL 不显示文件名 -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <!-- 关闭目录列表 -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
